.lookup-item-view .smart-lookup-list {
  .lookup-result a.lookup-result-file-title {
    text-decoration: none;
  }

  .lookup-result a.lookup-result-file-title > .sc-score {
    display: inline-block;
    width: auto;
    height: 1.7em;
    padding: 0 0.3em;
    line-height: 1.7em;
    text-align: center;
    font-weight: 600;
    font-size: 0.8em;
    color: var(--nav-item-color);
    background: var(--background-modifier-hover);
    border-radius: 6px;
  }

  .lookup-result a.lookup-result-file-title > .sc-path {
    margin-right: -3px;
  }

  .lookup-result a.lookup-result-file-title > .sc-path,
  .lookup-result a.lookup-result-file-title > .sc-title {
    font-weight: bold;
    text-decoration: underline;
  }

  .lookup-result a.lookup-result-file-title > .sc-breadcrumb:not(.sc-path, .sc-title, .sc-score) {
    font-style: italic;
  }

  .lookup-result a.lookup-result-file-title > .sc-breadcrumb-separator {
    color: color-mix(in srgb, var(--text-normal) 50%, transparent);
  }
}

.smart-lookup-list {
  padding-bottom: 20px;

  .tree-item-self {
    cursor: pointer;

    small {
      color: var(--color-gray-40);
    }
  }

  > .sc-collapsed ul {
    display: none;
  }

  > .sc-collapsed span svg {
    transform: rotate(-90deg);
  }

  > :not(.sc-collapsed) span svg {
    transform: rotate(0deg);
  }

  > div {
    span svg {
      height: auto;
      margin: auto 0.5em auto 0;
      flex: none;
    }

    > span {
      display: inline-flex;
      width: 100%;
      padding-left: 0;
    }

    ul {
      margin: 0;
      padding-left: 1.3rem;
    }

    > a {
      display: block;
    }

    > ul > li {
      display: block;
    }
  }

  .lookup-result {
    > ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .lookup-result.lookup-result-plaintext {
    font-size: var(--font-ui-smaller);
    line-height: var(--line-height-tight);
    background-color: var(--search-result-background);
    border-radius: var(--radius-s);
    overflow: hidden;
    margin: var(--size-4-1) 0 var(--size-4-2);
    color: var(--text-muted);
    box-shadow: 0 0 0 1px var(--background-modifier-border);

    & > * li {
      cursor: var(--cursor);
      position: relative;
      padding: var(--size-4-2) var(--size-4-5) var(--size-4-2) var(--size-4-3);
      white-space: pre-wrap;
      width: 100%;
      border-bottom: 1px solid var(--background-modifier-border);
    }
  }

  .lookup-result:not(.lookup-result-plaintext) {
    cursor: pointer;
    padding: var(--nav-item-padding);
    padding-left: 0;
    margin-bottom: 1px;
    align-items: baseline;
    border-radius: var(--radius-s);
    font-weight: var(--nav-item-weight);

    &:hover {
      color: var(--nav-item-color-active);
      background-color: var(--nav-item-background-active);
      font-weight: var(--nav-item-weight-active);
    }

    span {
      color: var(--h5-color);
    }

    small {
      color: var(--h5-color);
      font-size: 0.8rem;
      font-weight: 500;
    }

    p {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
    }

    ul > li {
      h1 {
        font-size: 1.3rem;
      }

      h2 {
        font-size: 1.25rem;
      }

      h3 {
        font-size: 1.2rem;
      }

      h4 {
        font-size: 1.15rem;
      }

      h5 {
        font-size: 1.1rem;
      }

      h6 {
        font-size: 1.05rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block-start: calc(var(--p-spacing) / 2);
        margin-block-end: calc(var(--p-spacing) / 2);
      }
    }
  }
}

.mod-right-split .smart-lookup-list .lookup-result {
  font-size: 0.88rem;
}
